<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="kz.tarlanpayments.storage.androidsdk.noui.ui.Tarlan3DSActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="kz.tarlanpayments.storage.androidsdk.noui.ui.Tarlan3DSV2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>